{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Добро пожаловать в систему!{% endblock %}
{% block content %}
<div class="container">
    <form class="form-signin" method="post">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, "only") }}
        <h2 class="form-signin-heading" style="text-align: center">Пожалуйста, войдите</h2>
        <label for="inputEmail" class="sr-only">Адресс электронной почты</label>
        {{ wtf.form_field(form.email) }}
        <label for="inputPassword" class="sr-only">Пароль</label>
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember_me) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>
</div>
{% endblock content %}